In [1]:
import pandas as pd 
import numpy as np
from category_encoders import BinaryEncoder

# Q1: Apply Ordinal encoding.

In [2]:
ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])

In [3]:
df.head()

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

# Q2: Apply One hot encoding.

In [4]:
y = pd.get_dummies(df.Countries, prefix='Country')
print(y.head())

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

# Q3: Apply Frequency Encoding.

In [5]:
fr= df.groupby ('Countries') .size()/len(df)
df.loc[:,'Coun_freq_encode'] = df['Countries' ].map(fr)
df

   Ids Countries  Coun_freq_encode
0   11     Spain               0.4
1   22    France               0.4
2   33     Spain               0.4
3   44   Germany               0.2
4   55    France               0.4

# Q4: Apply Binary Encoding.

In [16]:
be = BinaryEncoder()
be.fit_transform(df['Countries'])

   Countries_0  Countries_1
0            0            1
1            1            0
2            0            1
3            1            1
4            1            0